body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #373635;
  color: #57871d;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* 6 colunas */
  grid-template-rows: repeat(7, 1fr); /* 5 linhas */
  gap: 10px;
  width: 80vw;
  height: 80vh;
}

.grid-item {
  background-color: #4b4a49;
  border: 1px solid #5f5e5d;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.grid-item:hover {
  background-color: #e0e0e0;
}
.quadrado {
  grid-column: span 2;
  grid-row: span 2;
}
.retangulo {
  grid-column: span 2;
  grid-row: span 3;
}
.noticias {
  grid-column: span 6;
}
.search-bar {
  grid-column: span 6;
  /* grid-row: span 2; */
  padding: 10px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
}
